*{
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;	
}
.nav-bar{ 
	display: block; 
	margin-bottom: 10px;
}

.capa{ margin: 5px; }
.capa img{
	width: 100%;
	height: 50vh;
	border-radius: 15px;
}
.capa button{
	position: absolute;
	padding: 20px;
	right: 5px;	
}

.info{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.info img{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10%;
}

.body{
	display: flex;
	flex-direction: row;
	justify-content: center;

	margin-bottom: 10px;
}

.div{ background-color: rgb(52, 58, 64); }

.principal{ width: 600px; }
.publicar{
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 15px;
}
.publicar input{
	font-size: 16px;
	padding: 10px 20px;
	border: none;
	border-radius: 100px;
}
.publicar .btn-file{
	padding: 10px;
	border: none;
}
.publicar .btn-pub{
	background-color: black;
	color: white;
	font-size: 16px;
	padding: 10px 20px;
	border: none;
}

.publicação{
	display: flex;
	flex-direction: column;

	padding: 10px;
	margin-bottom: 10px;
	border-radius: 15px;
}
.pub-bar{
	display: block;
	justify-content: center;
}
.info-pub{
	display: flex;
	flex-direction: row;
	float: left;
}
.info-pub div{
	display: flex;
	flex-direction: column;

	margin-left: 10px;	
}
.info-pub img{
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.dropdown{
	float: right;
}
.dropdown button{
	background-color: black;
	color: white;
	font-size: 16px;
	padding: 10px 20px;
	border: none;
	outline: none;
}
.dropdown-content{
	display: none;
	position: absolute;

	background-color: black;
	color: white;
	font-size: 16px;
	padding: 5px;
}
.dropdown:hover .dropdown-content{
	display: flex;
	flex-direction: column;
}
.dropdown-content a{
	color: white;
	padding: 5px;
}

.conteudo{
	display: flex;
	flex-direction: column;

	margin-top: 10px;
}
.conteudo img{
	width: 580px;
	border-radius: 15px;
}


* {box-sizing: border-box;}
.open-button {
    cursor: pointer;
}
.form-popup {
    display: none;
    position: fixed;

    bottom: 0;
    right: 15px;
    z-index: 9;
}
.form-container {
    max-width: 300px;

    background-color: grey;
    padding: 10px;
}
.form-container input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
}
.form-container input:focus{
    background-color: #ddd;
    outline: none;
}
.form-popup .btn {
    background-color: black;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}


.outros{
	display: flex;
	flex-direction: column;

	width: 300px;
	height: 430px;

	padding: 10px;
	margin-right: 10px;
	border-radius: 15px;
}
.nav{
	display: flex;
	flex-direction: column;
}
.nav h3{
	margin: 0;
}
.amigos{
	display: flex;
	flex-wrap: wrap;
}
.amigos div{
	display: flex;
	flex-direction: column;

	margin-right: 10px;
	margin-top: 10px;
}
.amigos img{
	width: 80px;
	height: 80px;
}